div {
    width:200px;
    height: 200px;
    background-color: pink;
    /* border-width: 2px;
    border-style: dotted;
    border-color: blue; */
    border:2px solid blue;
    text-align: center;
    border-radius: 15px;
}
h1{
    height: 50px;
    width:300px ;
    border:3px dotted;
    text-align: right;
    background-color: aqua;
}