.external{
    color: brown;
}

.para-1{
    background-color: red;
}

.section-1.para-1{
    background-color: green;
    color:aqua;
}

.div.section-1.para-1{
    color: brown !important;
    background-color: yellow! impotant;
}
