h1{
    color: pink;
}

h1{
    color: red;
}
p{
    color: blue;
}

button{
    color: blue;
}
button{
    color: A27E6F;
}
body{
    background-color:#A27E6F ;
    background-color: rgba(0, 0, 0, 0.277);
}
button{
    background-color: aqua ;
}