
@import 'variables';

%box{
    height: $h-4;
    width: $w-3;
    background-color: $bg-3;
    border: $border-1;
    padding: $padding-4;
    margin: $m-4;
    text-align: center;
}

%img{
    width: $w-1;
    height: $h-1;
}

img{
    @extend %img;
}

%btn{
    padding: 10px 20px;
    background-color: $bg-7;
    color: $color-1;
    border-radius: $border-radius-40;
    margin: $m-2;
}

.box{
    display: flex;
}

.card-1{
    @extend %box;
}

.card-2{
    @extend %box;
    background-color: $bg-4;
    color: $color-1;
}

.card-3{
    @extend %box;
}

img{
    @extend %img;
}

button{
    @extend %btn;
}
