div{
    height: 100px;
    width: 100px;
    background-color: azure;
    border: 2px solid black;
    display: inline-block;
}

#box1{
    height: 100px;
    width: 100px;
    background-color: aqua;
    background-image: url("nature_photo.jpg.jpg");
    background-size: cover;
}

#box2{
    height: 100px;
    width: 100px;
    background-color: brown;
    background-image: url("nature_photo.jpg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#box3{
    height: 100px;
    width: 100px;
    background-color: chartreuse;
}
#box4{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
}